<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Country">
		<classes>
			<class
				name="ba.com.zira.sdr.test.suites.CountryRequestValidationTest" />
			<class
				name="ba.com.zira.sdr.test.suites.CountryServiceTest" />
		</classes>
	</test>
	<test thread-count="5" name="Genre">
	    <classes>
	      	<class 
	      		name="ba.com.zira.sdr.test.suites.GenreRequestValidationTest"/>
	      	<class 
	      		name="ba.com.zira.sdr.test.suites.GenreServiceTest"/>
	    </classes>
    </test>
</suite> 